body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
}

canvas {
    border: 2px solid #fff;
}

#Bird {
}

#loginForm, #endScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}
