body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #70c5ce, #c3cfe2);
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
}

canvas {
    border-radius:1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: url("./resources/background.png") repeat-x;
    background-size: cover;
    backdrop-filter: blur(5px);
    animation: scroll 690s linear infinite;
    animation-play-state: running;
}

#loginForm, #endScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    
}

button {
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    outline: none;
    color: black;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 5px 5px 5px -3px #000000;
}

#name{
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    outline: none;
    color: black;
    transition-duration: 0.4s;

}

#name::placeholder{
    color: black;
}

#name:hover{
    box-shadow: 5px 5px 5px -3px #000000;
}

@keyframes scroll {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000%;
    }
}