body {
    background: linear-gradient(135deg, #70c5ce, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background: rgba(198, 226, 222, 0.76);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h1.container {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.container-inner{
    text-align: center;
    margin-bottom: 30px;
}

a{
    color: #333;
    text-decoration: none;
}

img{
    align-self: center;
    height: 10px;
    width: 15px;
}

